blinker==1.9.0
click==8.1.8
dnspython==2.7.0
email_validator==2.2.0
Flask==2.2.2
flask-cors==5.0.1
flask-mongoengine==1.0.0
Flask-WTF==1.2.2
gunicorn==20.1.0
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
mongoengine==0.29.1
pymongo==4.11.3
Werkzeug==2.2.2
WTForms==3.2.1
persian==0.5.0
python-dotenv==1.0.0
khayyam==3.0.17
markdown==3.8
persiantools==5.3.0
tzdata==2025.2