{% extends 'public/base.html'%}
{% from "macro/card_details.html" import rating %}
{% from "macro/card_details.html" import genres %}
{% from "macro/card_details.html" import director %}
{% from "macro/pagination.html" import pagination %}

<!--  -->

{% block head %}
<title>مرورها | یک فیلم، یک زندگی</title>
<meta name="description" content="" />
<meta name="keywords" content="{{ data.keywords| join(',')}}" />
{% endblock %}

<!--  -->

{% block content %}
<div class="ui container" style="margin-top: 7em; margin-bottom: 2em;">
    <div class="ui link stackable centered three cards">
        {% for i in data.posts %}
        <div class="ui raised link card">
            <a class="image" href="/r/{{ i._id }}" style="position: relative;">
                <div class="ui placeholder" style="opacity: .25">
                    <div class="square image"></div>
                </div>
                <img src="/media/{{ i.cover }}/" alt="i.title_en" style="top:0; position:absolute;">
                <div class="ui top left attached label" style="opacity: .85; padding:4px;">
                    {{ rating(i.rating)}}
                </div>
                <h1 class="ui header title_fa">{{ i.title_fa }}</h1>
            </a>
            <div class="content">
                <a href="/r/{{ i._id }}" class="ui black header title_en">{{ i.title_en }}</a>
                {{ genres(i, data.cache) }}
                <!--  -->
                <p style="text-align: justify;">
                    {{ ' '.join(i.summary.split()[:39])+'...' }}
                </p>
            </div>
            {{ director(i, data.cache) }}
        </div>
        {% endfor %}
    </div>
    <div class="ui hidden divider"></div>
    {{ pagination(data.page, data.pages, data.last, 'reviews') }}
</div>
{% endblock %}