{% extends 'base.html' %}

{% block head %}
    <title>{{ data.title }}</title>
    <meta name="title" content="{{ data.title }}">
    <meta name="description" content="{{ data.meta | default: '' }}">
{% endblock %}

{% block content %}
    <div class="ui text container" style="padding-top: 5em;">
        <img class="ui centered large rounded image" style="margin-top: 2em; margin-bottom: 2em;" src= {{data.course_image}} >
        <div class="ui main text container">
            <h1 class="ui header" dir ="rtl">{{data.title}}</h1>
        </div>

        <div class="">
            <a href={{data.class_link}} class="ui fluid teal button" style="margin: 2em 0 2em 0;" target="_blank">ثبت نام در کلاس</a>        
            <div id="description"></div>
        
            <!-- Short preview (first 300 characters, or whatever limit you prefer) -->
                <div id="short-description" dir="rtl">
                    <h2 class="course-description"> {{ data.short_description | safe }} </h2>  
                    <div style="text-align: center;">
                        <button class="ui tertiary teal button" id="toggle-btn" onclick="toggleDescription(event)">اطلاعات بیشتر</button>  
                    </div>
                </div>
                <!-- Full description (initially hidden) -->
                <div id="full-description" style="display: none;" dir="rtl">
                    <h2 class="course-description">  {{data.full_description | safe }} </h2>
                    <strong> {{ data.cta.strip('\"') | safe }} </strong>
                    <br>
                    <br>
                    <a href={{data.class_link}} class="ui teal fluid button" target="_blank">ثبت نام در کلاس</a>
                    <br>
                    <div style="text-align: center;">
                        <button class="ui tertiary teal button" id="toggle-btn-hide" onclick="toggleDescription(event)">مخفی کردن</button>
                    </div>
                </div> 
    

            
        </div>


        <div class="ui center aligned container">
            <div class="ui column">
                <!-- Related Courses Section -->
                <div style="margin-top: 2em; margin-bottom: 3em;">
                    <h4 class="ui teal horizontal divider header">
                        &nbsp;
                        دوره‌های مرتبط
                        &nbsp;
                    </h4>
                    <div class="ui stackable three column grid">
                        {% for course in data.related_courses %}
                        <div class="column">
                            <a href="/{{ course.website }}/{{ course.course_id }}/{{ course.course_url_name }}" target="_blank">
                            <div class="ui fluid card">
                                <div class="image">
                                    <img src="{{ course.img_url }}" alt="{{ course.title }}">
                                </div>
                                <div class="content">
                                    <h4 class="ui header">{{ course.title }}</h4>
                                    </div>
                                </div>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>

            </div>

        </div>
    </div>

    <script>
        function toggleDescription(event) {
          event.preventDefault();
          const shortDesc = document.getElementById("short-description");
          const fullDesc = document.getElementById("full-description");
          if (shortDesc.style.display === "none") {
            shortDesc.style.display = "block";
            fullDesc.style.display = "none";
          } else {
            shortDesc.style.display = "none";
            fullDesc.style.display = "block";
          }
        }
    </script>
{% endblock %}