{% extends 'base.html' %}

{% block head %}
    <title>{{ data.title }}</title>
    <meta name="title" content="{{ data.title }}">
    <meta name="description" content="{{ data.meta | default('') }}">
    <link rel="canonical" href="{{ data.canonical_url }}">
    <style>
        /* New styles for CTA button hover effect */
        .ui.teal.fluid.button.cta-button {
            transition: all 0.3s ease; /* Smooth transition for hover effects */
        }
        .ui.teal.fluid.button.cta-button:hover {
            box-shadow: 0 0 15px 5px rgba(255, 215, 0, 0.6) !important; /* Gold glow effect */
            transform: translateY(-2px); /* Slight lift effect */
        }
                .tag-button {
            display: inline-block;
            margin: 3px;
            padding: 5px 10px;
            background-color: #eef;
            border-radius: 12px;
            text-decoration: none;
            color: #333;
            font-size: 14px;
            transition: 0.2s;
        }
        .tag-button:hover {
            background-color: #cce;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="ui text container" style="padding-top: 5em;">
        <img class="ui centered large rounded image" style="margin-top: 2em; margin-bottom: 2em;" src= {{data.course_image}} >
        <div class="ui main text container">
            <h1 class="ui header" dir ="rtl" style="color: #2F4F4F;">{{data.title}}</h1>
        </div>
        <div class="certificate">
            {% if data.certificate %}
                <span style="color: #4CAF50;">📜 این دوره دارای گواهینامه پایان دوره است</span>
            {% endif %}
        </div>

        <div class="">
            <div style="text-align: center; margin-bottom: 1em;">
                <p>
                <p style="margin-top: 1em;">
                <span style="font-size: 1.2em; font-weight: bold; color: #2F4F4F;">قیمت فعلی:</span>
                {% if data.main_price == 0 %}
                    <span style="font-size: 1.5em; font-weight: bold; color: green;">رایگان</span>
                {% elif data.main_price > data.discounted_price %}
                    <span style="font-size: 1.2em; text-decoration: line-through; color: #A9A9A9;">
                        {{ data.main_price | persian_price }}
                    </span>
                    <span style="font-size: 1.5em; font-weight: bold; color: #D22B2B;">
                        {{ data.discounted_price | persian_price }} تومان
                    </span>
                {% elif data.main_price == data.discounted_price %}
                    <span style="font-size: 1.2em; font-weight: bold; color: red;">
                        در حال حاضر هیچ تخفیفی برای این درس فعال نمی‌باشد
                    </span>
                {% else %}
                    <span style="font-size: 1.2em; text-decoration: line-through; color: #A9A9A9;">
                        {{ data.main_price | persian_price }}
                    </span>
                    <span style="font-size: 1.5em; font-weight: bold; color: #D22B2B;">
                        {{ data.discounted_price | persian_price }} تومان
                    </span>
                {% endif %}
            </p>


                <p style="font-size: 0.8em; color: #767676;">قیمت دوره‌ ممکن است توسط سایت مبدا تغییر کند</p>
            </div>
            <a href={{data.class_link}} class="ui teal fluid button cta-button" id="course-reg-btn" style="margin: 2em 0 2em 0; background-color: #008080 !important;" target="_blank">ثبت نام در کلاس</a>        
            
            <div class="tags">
                {% for tag in data.tags %}
                    <a href="{{ url_for('full_results', query=tag) }}" class="tag-button">
                    {{ tag }}
                    </a>
                {% endfor %}
            </div>
            <div id="description"></div>
        
            <div id="short-description" dir="rtl">
                    <h2 class="course-description" style="color: #2F4F4F;"> {{ data.short_description | safe }} </h2>  
                    <div style="text-align: center;">
                        <button class="ui tertiary button" id="toggle-btn" onclick="toggleDescription(event)" style="color: #008080 !important;">اطلاعات بیشتر</button>  
                    </div>
                </div>
                <div id="full-description" style="display: none;" dir="rtl">
                    <h2 class="course-description" style="color: #2F4F4F;">  {{data.full_description | safe }} </h2>
                    <strong> {{ data.cta.strip('\"') | safe }} </strong>
                    <br>
                    <br>
                    <a href={{data.class_link}} class="ui teal fluid button cta-button" id="course-reg-btn" style="background-color: #008080 !important;" target="_blank">ثبت نام در کلاس</a>
                    <br>
                    <div style="text-align: center;">
                        <button class="ui tertiary button" id="toggle-btn-hide" onclick="toggleDescription(event)" style="color: #008080 !important;">مخفی کردن</button>
                    </div>
                </div> 
    

            
        </div>


        <div class="ui center aligned container">
            <div class="ui column">
                <div style="margin-top: 2em; margin-bottom: 3em;">
                    <h4 class="ui horizontal divider header" style="color: #008080 !important;">
                        &nbsp;
                        دوره‌های پیشنهادی
                        &nbsp;
                    </h4>
                    <div class="ui stackable three column grid">
                        {% for course in data.related_courses %}
                        <div class="column">
                            <a href="{{ course_url(course) }}" target="_blank">
                            <div class="ui fluid card">
                                <div class="image">
                                    <img src="{{ course.img_url }}" alt="{{ course.title }}">
                                </div>
                                <div class="content">
                                    <h4 class="ui header" style="color: #008080;">{{ course.title }}</h4>
                                    </div>
                                </div>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>

            </div>

        </div>
    </div>

    <script>
        function toggleDescription(event) {
          event.preventDefault();
          const shortDesc = document.getElementById("short-description");
          const fullDesc = document.getElementById("full-description");
          if (shortDesc.style.display === "none") {
            shortDesc.style.display = "block";
            fullDesc.style.display = "none";
          } else {
            shortDesc.style.display = "none";
            fullDesc.style.display = "block";
          }
        }
    </script>
{% endblock %}