{% macro pagination(page, pages, last, ref, args={}) %}
{% if pages|length > 1 %}
{% set _ = namespace(param='') %}
{% for k,v in args.items() %}
{% if v %}
{% set _.param = _.param+'&'+k+'='+v %}
{% endif %}
{% endfor %}
{% if _.param %}
{% set _.param = '?'+_.param[1:] %}
{% endif %}
<center>
    <div class="ui secondary pagination menu">
        {% if 1 not in pages %}
        <a class="item" href="{{ ref }}?page=1&{{ _.param }}">
            <span style="color:#4e473d;">
                <i class="angle double right icon"></i>
            </span>
        </a>
        {% endif %}
        <!--  -->
        {% for i in pages %}
        <a class="{{ 'active' if i==page else '' }} item" href="{{ ref }}?page={{ i }}&{{ _.param }}">
            <span style="{{ 'font-weight: bold;' if i==page else '' }} color:#4e473d;">{{ i|persian }}</span>
        </a>
        {% endfor %}
        <!--  -->
        {% if last not in pages %}
        <a class="item" href="{{ ref }}?page={{ last }}&{{ _.param }}">
            <span style="color:#4e473d;">
                <i class="angle double left icon"></i>
            </span>
        </a>
        {% endif %}
    </div>
</center>
{% endif %}
{% endmacro %}